{%extends 'base.html'%}
{%block title%}About{% endblock title %}
{%block content%}
<div class="grid container-fluid justify-center align-center h-full p-2 m-2">
    <h1 class="text-center font-bold text-4xl">About Us</h1>
    <p class="flex flex-wrap p-1 m-1 justify-center items-center max-w-3xl">Lorem doloremque animi voluptatum iure accusantium Libero deserunt temporibus quo laborum nemo Unde harum animi consequatur vero culpa officia? Voluptatibus suscipit nesciunt nemo voluptatem rem doloribus debitis Totam reprehenderit praesentium.</p>
<p class="flex flex-wrap p-1 m-1 justify-center items-center max-w-3xl">Lorem doloremque animi voluptatum iure accusantium Libero deserunt temporibus quo laborum nemo Unde harum animi consequatur vero culpa officia? Voluptatibus suscipit nesciunt nemo voluptatem rem doloribus debitis Totam reprehenderit Elit nulla delectus nostrum fugiat quod? Odit eveniet nihil aspernatur praesentium itaque Libero vitae ipsa a nobis omnis Perspiciatis facilis expedita sapiente laudantium nesciunt? Tenetur repellat explicabo magni fugit sapiente.  </p>
</div>
    {% endblock content %}
