{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico'%}"/>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Patua+One&display=swap');
</style>
    <title>SpicyAmigos - {% block title %}{% endblock title %} </title>
  </head>
  <body>
      {% if messages %}
      {% for message in messages %}
    <div class="bg-yellow-200 border border-yellow-400 text-yellow-600 px-4 py-3 relative" role="alert">
          <strong class="font-bold">{{message}}</strong>
          <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-2 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
            <span>x</span>

          </button>
    </div>
      {% endfor %}
      {% endif %}
        {%include 'navbar.html'%}
        {%block content %}
        {% endblock content %}
<script>
      function closeAlert(event){
        let element = event.target;
        while(element.nodeName !== "BUTTON"){
          element = element.parentNode;
        }
        element.parentNode.parentNode.removeChild(element.parentNode);
          }
</script>
</body>
</html>

